In [1]:
import sys
sys.path.append("..")

In [2]:
%load_ext autoreload
%autoreload 2

In [3]:
from src.dataset import HierarchicalDataset
import pandas as pd

In [4]:
"""
dataset = HierarchicalDataset(config_dir="../../config/catalog.yml", 
                              cases_dir="../../data/EU/COVID-19-up-to-date.csv", 
                              ifr_dir="../../data/EU/weighted_fatality.csv", 
                              serial_interval_dir="../../data/EU/serial_interval.csv", 
                              interventions_dir="../../data/EU/interventions.csv", num_covariates=7)
"""
print()

In [5]:
## HERE - don't call the class yet
## first, simply view each of the files
## then decide what to do next - what data is needed, what changes to the code need to happen

In [6]:
EuroCaseAndMortality = pd.read_csv("../../data/EU/COVID-19-up-to-date.csv", encoding="ISO-8859-1")

In [7]:
# fetch US county data; process to match this format
EuroCaseAndMortality

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
7315,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7316,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
7317,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7318,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
7319,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [92]:
# fetch the JHU time-series data
# see: https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/README.md

jhu = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/"

cases_csv = "time_series_covid19_confirmed_US.csv"
deaths_csv = "time_series_covid19_deaths_US.csv"

casesOrig = pd.read_csv(jhu + cases_csv)
deathsOrig = pd.read_csv(jhu + deaths_csv)

In [93]:
# 1. process cases df to match form of EU table
cases = casesOrig
cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,151,151,151,151,152,152,152,154,154,154
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,15,16,16,19,19,19,19,19,21,21
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,2156,2173,2198,2256,2299,2329,2427,2542,2589,2646
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,68,68,69,69,69,69,69,69,69,69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,27,27,28,28,28,29,29,29,29,30
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,13,13,13,14,13,13,13,13,14,14
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,138,155,164,170,167,180,187,200,209,219
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,14,16,16,16,16,16,16,16,19,19
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,184,188,194,197,207,211,214,216,221,226

In [94]:
# filter for IL
cases = cases.loc[cases["Province_State"] == "Illinois"]
cases

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
600,84017001,US,USA,840,17001.0,Adams,Illinois,US,39.988156,-91.187868,...,41,41,41,41,41,41,41,42,42,42
601,84017003,US,USA,840,17003.0,Alexander,Illinois,US,37.180493,-89.329108,...,6,6,7,7,8,8,8,8,8,8
602,84017005,US,USA,840,17005.0,Bond,Illinois,US,38.888296,-89.435349,...,8,8,8,9,9,10,10,11,11,11
603,84017007,US,USA,840,17007.0,Boone,Illinois,US,42.323593,-88.823458,...,177,185,193,206,244,253,268,274,282,290
604,84017009,US,USA,840,17009.0,Brown,Illinois,US,39.962091,-90.750680,...,6,8,8,9,9,9,9,9,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,US,USA,840,17199.0,Williamson,Illinois,US,37.730335,-88.929940,...,44,44,44,44,44,52,52,51,52,52
700,84017201,US,USA,840,17201.0,Winnebago,Illinois,US,42.336419,-89.160853,...,830,877,917,932,1159,1208,1337,1390,1436,1490
701,84017203,US,USA,840,17203.0,Woodford,Illinois,US,40.785794,-89.209738,...,15,15,15,15,15,15,14,14,14,14
3162,84080017,US,USA,840,80017.0,Out of IL,Illinois,US,0.000000,0.000000,...,72,77,79,84,86,82,86,86,83,84
3214,84090017,US,USA,840,90017.0,Unassigned,Illinois,US,0.000000,0.000000,...,48,73,84,66,61,46,65,50,49,67

In [95]:
# columns of EU data:
# dateRep	day	month	year	cases	deaths	countriesAndTerritories	geoId	countryterritoryCode	popData2018

In [96]:
# columns of IL data
list(cases)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20']

In [97]:
# notice from data repo readme:
# US counties: UID = 840 (country code3) + XXXXX (5-digit FIPS code)

# drop redundant columns
cases = cases.drop(cases.columns[[1,2,3,4,7,10]], axis=1)
cases

,UID,Admin2,Province_State,Lat,Long_,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
600,84017001,Adams,Illinois,39.988156,-91.187868,0,0,0,0,0,...,41,41,41,41,41,41,41,42,42,42
601,84017003,Alexander,Illinois,37.180493,-89.329108,0,0,0,0,0,...,6,6,7,7,8,8,8,8,8,8
602,84017005,Bond,Illinois,38.888296,-89.435349,0,0,0,0,0,...,8,8,8,9,9,10,10,11,11,11
603,84017007,Boone,Illinois,42.323593,-88.823458,0,0,0,0,0,...,177,185,193,206,244,253,268,274,282,290
604,84017009,Brown,Illinois,39.962091,-90.750680,0,0,0,0,0,...,6,8,8,9,9,9,9,9,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,Williamson,Illinois,37.730335,-88.929940,0,0,0,0,0,...,44,44,44,44,44,52,52,51,52,52
700,84017201,Winnebago,Illinois,42.336419,-89.160853,0,0,0,0,0,...,830,877,917,932,1159,1208,1337,1390,1436,1490
701,84017203,Woodford,Illinois,40.785794,-89.209738,0,0,0,0,0,...,15,15,15,15,15,15,14,14,14,14
3162,84080017,Out of IL,Illinois,0.000000,0.000000,0,0,0,0,0,...,72,77,79,84,86,82,86,86,83,84
3214,84090017,Unassigned,Illinois,0.000000,0.000000,0,0,0,0,0,...,48,73,84,66,61,46,65,50,49,67

In [98]:
# "melt" df into desired form
# i.e., rows correspond to dates

idVars = ["UID", "Admin2", "Province_State", "Lat", "Long_"]
cases = cases.melt(id_vars=idVars, var_name="Date", value_name="Cases")
cases

,UID,Admin2,Province_State,Lat,Long_,Date,Cases
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0
...,...,...,...,...,...,...,...
12163,84017199,Williamson,Illinois,37.730335,-88.929940,5/17/20,52
12164,84017201,Winnebago,Illinois,42.336419,-89.160853,5/17/20,1490
12165,84017203,Woodford,Illinois,40.785794,-89.209738,5/17/20,14
12166,84080017,Out of IL,Illinois,0.000000,0.000000,5/17/20,84
12167,84090017,Unassigned,Illinois,0.000000,0.000000,5/17/20,67

In [99]:
# look at Euro data again, just to compare
EuroCaseAndMortality.head()

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0

In [100]:
# okay looks like we have all the information, and pretty close to the form we want
# needed:
# 1. population by-county (probably will worry about this later..)
# 2. deaths -> process other jhu dataset, hopefully in exactly the same way as the cases dataset
# 3. split date into separate columns, map our columns to theirs

# define mapping from our df to theirs
# first just map the data
# then can fix column names and python etl code accordingly

In [101]:
# now, process deaths data, see if we can take the same path to the same outcome

In [102]:
# 2. process deaths data
deaths = deathsOrig
deaths

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
0,16,AS,ASM,16,60.0,NaN,American Samoa,US,-14.271000,-170.132000,...,0,0,0,0,0,0,0,0,0,0
1,316,GU,GUM,316,66.0,NaN,Guam,US,13.444300,144.793700,...,5,5,5,5,5,5,5,5,5,5
2,580,MP,MNP,580,69.0,NaN,Northern Mariana Islands,US,15.097900,145.673900,...,2,2,2,2,2,2,2,2,2,2
3,630,PR,PRI,630,72.0,NaN,Puerto Rico,US,18.220800,-66.590100,...,107,108,111,113,114,115,117,122,122,123
4,850,VI,VIR,850,78.0,NaN,Virgin Islands,US,18.335800,-64.896300,...,4,4,4,5,6,6,6,6,6,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3256,84070016,US,USA,840,NaN,Central Utah,Utah,US,39.372319,-111.575868,...,0,0,0,0,0,0,0,0,0,0
3257,84070017,US,USA,840,NaN,Southeast Utah,Utah,US,38.996171,-110.701396,...,0,0,0,0,0,0,0,0,0,0
3258,84070018,US,USA,840,NaN,Southwest Utah,Utah,US,37.854472,-111.441876,...,3,3,3,3,3,3,3,3,3,3
3259,84070019,US,USA,840,NaN,TriCounty,Utah,US,40.124915,-109.517442,...,0,0,0,0,0,0,0,0,0,0
3260,84070020,US,USA,840,NaN,Weber-Morgan,Utah,US,41.271160,-111.914512,...,2,2,2,2,3,3,3,3,3,3

In [103]:
# view columns diff between the df's
# see that the deaths table contains all the exact same fields as the cases table
# and it contains an extra column containing population data per county
# which is nice, because we need that information

# set(list(casesOrig)).difference(set(list(deathsOrig)))

set(list(deathsOrig)).difference(set(list(casesOrig)))

{'Population'}

In [104]:
list(deathsOrig)

['UID',
 'iso2',
 'iso3',
 'code3',
 'FIPS',
 'Admin2',
 'Province_State',
 'Country_Region',
 'Lat',
 'Long_',
 'Combined_Key',
 'Population',
 '1/22/20',
 '1/23/20',
 '1/24/20',
 '1/25/20',
 '1/26/20',
 '1/27/20',
 '1/28/20',
 '1/29/20',
 '1/30/20',
 '1/31/20',
 '2/1/20',
 '2/2/20',
 '2/3/20',
 '2/4/20',
 '2/5/20',
 '2/6/20',
 '2/7/20',
 '2/8/20',
 '2/9/20',
 '2/10/20',
 '2/11/20',
 '2/12/20',
 '2/13/20',
 '2/14/20',
 '2/15/20',
 '2/16/20',
 '2/17/20',
 '2/18/20',
 '2/19/20',
 '2/20/20',
 '2/21/20',
 '2/22/20',
 '2/23/20',
 '2/24/20',
 '2/25/20',
 '2/26/20',
 '2/27/20',
 '2/28/20',
 '2/29/20',
 '3/1/20',
 '3/2/20',
 '3/3/20',
 '3/4/20',
 '3/5/20',
 '3/6/20',
 '3/7/20',
 '3/8/20',
 '3/9/20',
 '3/10/20',
 '3/11/20',
 '3/12/20',
 '3/13/20',
 '3/14/20',
 '3/15/20',
 '3/16/20',
 '3/17/20',
 '3/18/20',
 '3/19/20',
 '3/20/20',
 '3/21/20',
 '3/22/20',
 '3/23/20',
 '3/24/20',
 '3/25/20',
 '3/26/20',
 '3/27/20',
 '3/28/20',
 '3/29/20',
 '3/30/20',
 '3/31/20',
 '4/1/20',
 '4/2/20',
 '4/3/20',
 '4/4/20',
 '4/5/20',
 '4/6/20',
 '4/7/20',
 '4/8/20',
 '4/9/20',
 '4/10/20',
 '4/11/20',
 '4/12/20',
 '4/13/20',
 '4/14/20',
 '4/15/20',
 '4/16/20',
 '4/17/20',
 '4/18/20',
 '4/19/20',
 '4/20/20',
 '4/21/20',
 '4/22/20',
 '4/23/20',
 '4/24/20',
 '4/25/20',
 '4/26/20',
 '4/27/20',
 '4/28/20',
 '4/29/20',
 '4/30/20',
 '5/1/20',
 '5/2/20',
 '5/3/20',
 '5/4/20',
 '5/5/20',
 '5/6/20',
 '5/7/20',
 '5/8/20',
 '5/9/20',
 '5/10/20',
 '5/11/20',
 '5/12/20',
 '5/13/20',
 '5/14/20',
 '5/15/20',
 '5/16/20',
 '5/17/20']

In [105]:
# filter for Illinois
deaths = deaths.loc[deaths["Province_State"] == "Illinois"]
deaths

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
600,84017001,US,USA,840,17001.0,Adams,Illinois,US,39.988156,-91.187868,...,1,1,1,1,1,1,1,1,1,1
601,84017003,US,USA,840,17003.0,Alexander,Illinois,US,37.180493,-89.329108,...,0,0,0,0,0,0,0,0,0,0
602,84017005,US,USA,840,17005.0,Bond,Illinois,US,38.888296,-89.435349,...,1,1,1,1,1,1,1,1,1,1
603,84017007,US,USA,840,17007.0,Boone,Illinois,US,42.323593,-88.823458,...,12,11,11,12,13,13,13,14,14,14
604,84017009,US,USA,840,17009.0,Brown,Illinois,US,39.962091,-90.750680,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,US,USA,840,17199.0,Williamson,Illinois,US,37.730335,-88.929940,...,1,1,1,1,1,1,1,1,1,1
700,84017201,US,USA,840,17201.0,Winnebago,Illinois,US,42.336419,-89.160853,...,21,24,25,25,28,32,32,33,34,35
701,84017203,US,USA,840,17203.0,Woodford,Illinois,US,40.785794,-89.209738,...,1,1,1,1,1,1,1,1,1,1
3162,84080017,US,USA,840,80017.0,Out of IL,Illinois,US,0.000000,0.000000,...,2,3,2,2,1,1,2,2,1,1
3214,84090017,US,USA,840,90017.0,Unassigned,Illinois,US,0.000000,0.000000,...,0,0,0,0,1,1,1,1,0,0

In [106]:
# drop redundant columns -> keep population column
deaths = deaths.drop(deaths.columns[[1,2,3,4,7,10]], axis=1)
deaths

,UID,Admin2,Province_State,Lat,Long_,Population,1/22/20,1/23/20,1/24/20,1/25/20,...,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20,5/15/20,5/16/20,5/17/20
600,84017001,Adams,Illinois,39.988156,-91.187868,65435,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
601,84017003,Alexander,Illinois,37.180493,-89.329108,5761,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
602,84017005,Bond,Illinois,38.888296,-89.435349,16426,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
603,84017007,Boone,Illinois,42.323593,-88.823458,53544,0,0,0,0,...,12,11,11,12,13,13,13,14,14,14
604,84017009,Brown,Illinois,39.962091,-90.750680,6578,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
699,84017199,Williamson,Illinois,37.730335,-88.929940,66597,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
700,84017201,Winnebago,Illinois,42.336419,-89.160853,282572,0,0,0,0,...,21,24,25,25,28,32,32,33,34,35
701,84017203,Woodford,Illinois,40.785794,-89.209738,38459,0,0,0,0,...,1,1,1,1,1,1,1,1,1,1
3162,84080017,Out of IL,Illinois,0.000000,0.000000,0,0,0,0,0,...,2,3,2,2,1,1,2,2,1,1
3214,84090017,Unassigned,Illinois,0.000000,0.000000,0,0,0,0,0,...,0,0,0,0,1,1,1,1,0,0

In [107]:
# "melt" df into desired form
# i.e., rows correspond to dates

idVars = ["UID", "Admin2", "Province_State", "Lat", "Long_", "Population"]
deaths = deaths.melt(id_vars=idVars, var_name="Date", value_name="Deaths")
deaths

,UID,Admin2,Province_State,Lat,Long_,Population,Date,Deaths
0,84017001,Adams,Illinois,39.988156,-91.187868,65435,1/22/20,0
1,84017003,Alexander,Illinois,37.180493,-89.329108,5761,1/22/20,0
2,84017005,Bond,Illinois,38.888296,-89.435349,16426,1/22/20,0
3,84017007,Boone,Illinois,42.323593,-88.823458,53544,1/22/20,0
4,84017009,Brown,Illinois,39.962091,-90.750680,6578,1/22/20,0
...,...,...,...,...,...,...,...,...
12163,84017199,Williamson,Illinois,37.730335,-88.929940,66597,5/17/20,1
12164,84017201,Winnebago,Illinois,42.336419,-89.160853,282572,5/17/20,35
12165,84017203,Woodford,Illinois,40.785794,-89.209738,38459,5/17/20,1
12166,84080017,Out of IL,Illinois,0.000000,0.000000,0,5/17/20,1
12167,84090017,Unassigned,Illinois,0.000000,0.000000,0,5/17/20,0

In [108]:
# NOTE: processing of the two tables is exactly the same except
# for the deaths table having the extra ID column "Population"
# so can refactor/streamline code to make it concise and much prettier

# next task: "merge" the deaths and cases tables

In [109]:
# danke: https://stackoverflow.com/questions/19125091/pandas-merge-how-to-avoid-duplicating-columns

# merge df's
# i.e., inject population and deaths data from deaths df into cases df

cols_to_use = deaths.columns.difference(cases.columns)
ILCaseAndMortality = pd.merge(cases, deaths[cols_to_use], left_index=True, right_index=True, how="outer")

ILCaseAndMortality

,UID,Admin2,Province_State,Lat,Long_,Date,Cases,Deaths,Population
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0,0,65435
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0,0,5761
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0,0,16426
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0,0,53544
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0,0,6578
...,...,...,...,...,...,...,...,...,...
12163,84017199,Williamson,Illinois,37.730335,-88.929940,5/17/20,52,1,66597
12164,84017201,Winnebago,Illinois,42.336419,-89.160853,5/17/20,1490,35,282572
12165,84017203,Woodford,Illinois,40.785794,-89.209738,5/17/20,14,1,38459
12166,84080017,Out of IL,Illinois,0.000000,0.000000,5/17/20,84,1,0
12167,84090017,Unassigned,Illinois,0.000000,0.000000,5/17/20,67,0,0

In [110]:
# look at the columns we have
list(ILCaseAndMortality)

['UID',
 'Admin2',
 'Province_State',
 'Lat',
 'Long_',
 'Date',
 'Cases',
 'Deaths',
 'Population']

In [111]:
# again look at the columns of the original Euro table
list(EuroCaseAndMortality)

['dateRep',
 'day',
 'month',
 'year',
 'cases',
 'deaths',
 'countriesAndTerritories',
 'geoId',
 'countryterritoryCode',
 'popData2018']

In [112]:
# next tasks:
# 1. sort/make nice the IL table, and save this final transformed table
# 2. using the transformed IL data -> map to Euro table scheme
# 2.5. refactor.
# 3. with Euro scheme IL table -> try running the model, making as few code changes as possible

In [113]:
# cut out rows where Admin2 is "Out of IL" or "Unassigned" (both have population 0)
ILCaseAndMortality = ILCaseAndMortality.loc[ILCaseAndMortality["Population"] > 0]
ILCaseAndMortality

,UID,Admin2,Province_State,Lat,Long_,Date,Cases,Deaths,Population
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0,0,65435
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0,0,5761
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0,0,16426
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0,0,53544
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0,0,6578
...,...,...,...,...,...,...,...,...,...
12161,84017195,Whiteside,Illinois,41.755097,-89.915561,5/17/20,122,8,55175
12162,84017197,Will,Illinois,41.446193,-87.978627,5/17/20,4388,240,690743
12163,84017199,Williamson,Illinois,37.730335,-88.929940,5/17/20,52,1,66597
12164,84017201,Winnebago,Illinois,42.336419,-89.160853,5/17/20,1490,35,282572
12165,84017203,Woodford,Illinois,40.785794,-89.209738,5/17/20,14,1,38459

In [118]:
# rename some columns; improve readability

renameColsMap = {
    "UID": "CountyID", # fairly certain this is appropriate, though will double check
    "Admin2": "Town", # ? -> probably a better name for this
    "Province_State": "State",
    "Lat": "Latitude",
    "Long_": "Longitude"
}
ILCaseAndMortality = ILCaseAndMortality.rename(renameColsMap, axis=1)

ILCaseAndMortality

,CountyID,Town,State,Latitude,Longitude,Date,Cases,Deaths,Population
0,84017001,Adams,Illinois,39.988156,-91.187868,1/22/20,0,0,65435
1,84017003,Alexander,Illinois,37.180493,-89.329108,1/22/20,0,0,5761
2,84017005,Bond,Illinois,38.888296,-89.435349,1/22/20,0,0,16426
3,84017007,Boone,Illinois,42.323593,-88.823458,1/22/20,0,0,53544
4,84017009,Brown,Illinois,39.962091,-90.750680,1/22/20,0,0,6578
...,...,...,...,...,...,...,...,...,...
12161,84017195,Whiteside,Illinois,41.755097,-89.915561,5/17/20,122,8,55175
12162,84017197,Will,Illinois,41.446193,-87.978627,5/17/20,4388,240,690743
12163,84017199,Williamson,Illinois,37.730335,-88.929940,5/17/20,52,1,66597
12164,84017201,Winnebago,Illinois,42.336419,-89.160853,5/17/20,1490,35,282572
12165,84017203,Woodford,Illinois,40.785794,-89.209738,5/17/20,14,1,38459

In [119]:
EuroCaseAndMortality

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,28/03/2020,28,3,2020,16,1,Afghanistan,AF,AFG,37172386.0
1,27/03/2020,27,3,2020,0,0,Afghanistan,AF,AFG,37172386.0
2,26/03/2020,26,3,2020,33,0,Afghanistan,AF,AFG,37172386.0
3,25/03/2020,25,3,2020,2,0,Afghanistan,AF,AFG,37172386.0
4,24/03/2020,24,3,2020,6,1,Afghanistan,AF,AFG,37172386.0
...,...,...,...,...,...,...,...,...,...,...
7315,25/03/2020,25,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7316,24/03/2020,24,3,2020,0,1,Zimbabwe,ZW,ZWE,14439018.0
7317,23/03/2020,23,3,2020,0,0,Zimbabwe,ZW,ZWE,14439018.0
7318,22/03/2020,22,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0
7319,21/03/2020,21,3,2020,1,0,Zimbabwe,ZW,ZWE,14439018.0

In [120]:
# now order the columns nicely
columnOrder = [
    "Date",
    "Cases",
    "Deaths",
    "CountyID",
    "Town",
    "State",
    "Population",
    "Latitude",
    "Longitude"
]

ILCaseAndMortality = ILCaseAndMortality[columnOrder]
ILCaseAndMortality

,Date,Cases,Deaths,CountyID,Town,State,Population,Latitude,Longitude
0,1/22/20,0,0,84017001,Adams,Illinois,65435,39.988156,-91.187868
1,1/22/20,0,0,84017003,Alexander,Illinois,5761,37.180493,-89.329108
2,1/22/20,0,0,84017005,Bond,Illinois,16426,38.888296,-89.435349
3,1/22/20,0,0,84017007,Boone,Illinois,53544,42.323593,-88.823458
4,1/22/20,0,0,84017009,Brown,Illinois,6578,39.962091,-90.750680
...,...,...,...,...,...,...,...,...,...
12161,5/17/20,122,8,84017195,Whiteside,Illinois,55175,41.755097,-89.915561
12162,5/17/20,4388,240,84017197,Will,Illinois,690743,41.446193,-87.978627
12163,5/17/20,52,1,84017199,Williamson,Illinois,66597,37.730335,-88.929940
12164,5/17/20,1490,35,84017201,Winnebago,Illinois,282572,42.336419,-89.160853
12165,5/17/20,14,1,84017203,Woodford,Illinois,38459,40.785794,-89.209738

In [ ]:
# looks good -> save it
ILCaseAndMortality.to_csv("ILCaseAndMortality.csv")